# Object files
*.o
*.a

# Dependency files
*.d

# Compiler generated headers
asm-offsets.s
asm-offsets.h.s

# Binaries
*/boot/bootblock
*/kernel/kernel
*/process/shell
*/process/process1
*/process/process2
*/process/process3
*/process/process4
createimage
image

# Generated unit test files
libour_c_core_renames.txt
test_libansi_term
test_libansi_term.c
test_libour_c_core
test_libour_c_core.c
test_libunittest
test_libunittest.c

# serial output
serial.out

# debug symbols for Bochs
*.sym
bochsdebug.out

# Given files
!*.given.o
!*.given

# Simulator
shell_sim
image_sim
p6sh

# Tags
TAGS
tags

# clang tooling
compile_commands.json

# GDB init
.gdbinit

# HTML previews of Markdown documents
*.md.html

# Documentation artifacts that are not supposed to appear in precode
*.pptx
src_only/


# Editor stuff
.vscode/*
.vscode/
src/.vscode/
src/.vscode/*

.cache/
.cache/*
.cache/clangd/
.cache/calngd*
